.footer {
	background: rgb(80, 80, 80);
	color: #eee;
	padding: 80px 0;
	a.contact {
		text-decoration: none;
		color: #eeee;
		font-size: 20px;
	}
	&__heading {
		color: #fff;
		font-size: 24px;
		margin-bottom: 50px;
		position: relative;
		&::after {
			content: "";
			width: 40px;
			height: 8px;
			background: #fff;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translate(0, 12px);
		}
	}
	&__social {
		display: flex;
		margin-top: 50px;
		a {
			text-decoration: none;
			color: #fff;
			padding: 5px;
			margin-right: 5px;
			i {
				font-size: 22px;
			}
		}
	}
	&__link {
		text-decoration: none;
		color: rgb(190, 190, 190);
		display: block;
		position: relative;
		font-size: 18px;
		padding: 5px;
		&::before {
			content: "";
			width: 5px;
			height: 5px;
			background: #fff;

			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(-10px, -50%);
		}
	}
	p {
		color: #fff;
	}
}
.companies {
	text-align: center;
	img {
		max-height: 80px;
	}
}
